body {
  margin: 0%; }
.main {
  height: 100vh;
  background: url("img/showcase.jpg") center center/cover; }
  .main header {
    display: flex;
    width: 100%;
    height: 15vh; }
    .main header .navigation {
      width: 100%;
      height: 15vh;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .main header .navigation .logo {
        margin: 20px;
        height: 200px; }
      .main header .navigation .nav-menu {
        display: flex;
        flex-direction: row;
        list-style: none;
        text-decoration: none; }
        .main header .navigation .nav-menu .li {
          text-decoration: none; }
          .main header .navigation .nav-menu .li .nav-link {
            text-decoration: none; }

a {
  text-decoration: none;
  color: white;
  font-size: 23px;
  padding: 40px; }

.name {
  text-align: center;
  justify-content: center;
  color: white;
  padding: 200px; }
  .name .iam {
    font-size: 30px; }
  .name .what {
    font-size: 25px; }
  .name .button-style .button {
    padding: 15px 50px;
    border-color: white; }

.specialize {
  height: 539px; }
  .specialize .text {
    display: flex;
    justify-content: center;
    font-size: 29px; }
    .specialize .text p {
      border-bottom: 5px solid #e5cfeb; }
  .specialize .note {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 40px; }
  .specialize .forms {
    display: flex;
    width: 100%; }
    .specialize .forms .concepting {
      width: 25%;
      background-color: #e5cfeb;
      padding: 20px;
      height: 300px; }
      .specialize .forms .concepting .icon {
        display: flex;
        justify-content: center;
        margin-bottom: 20px; }
      .specialize .forms .concepting b {
        display: flex;
        justify-content: center;
        font-size: 20px; }
      .specialize .forms .concepting p {
        padding-left: 50px;
        padding-right: 50px;
        display: flex;
        justify-content: center;
        font-size: 20px; }
    .specialize .forms .uiux {
      width: 25%;
      padding: 20px;
      height: 300px; }
      .specialize .forms .uiux .icon {
        display: flex;
        justify-content: center;
        margin-bottom: 20px; }
      .specialize .forms .uiux b {
        display: flex;
        justify-content: center;
        font-size: 20px; }
      .specialize .forms .uiux p {
        padding-left: 50px;
        padding-right: 50px;
        display: flex;
        justify-content: center;
        font-size: 20px; }
    .specialize .forms .visual-design {
      width: 25%;
      background-color: #e5cfeb;
      padding: 20px;
      height: 300px; }
      .specialize .forms .visual-design .icon {
        display: flex;
        justify-content: center;
        margin-bottom: 20px; }
      .specialize .forms .visual-design b {
        display: flex;
        justify-content: center;
        font-size: 20px; }
      .specialize .forms .visual-design p {
        padding-left: 50px;
        padding-right: 50px;
        display: flex;
        justify-content: center;
        font-size: 20px; }
    .specialize .forms .interaction {
      width: 25%;
      padding: 20px;
      height: 300px; }
      .specialize .forms .interaction .icon {
        display: flex;
        justify-content: center;
        margin-bottom: 20px; }
      .specialize .forms .interaction b {
        display: flex;
        justify-content: center;
        font-size: 20px; }
      .specialize .forms .interaction p {
        padding-left: 50px;
        padding-right: 50px;
        display: flex;
        justify-content: center;
        font-size: 20px; }

.attainment {
  width: 100%;
  display: flex;
  height: 350px; }
  .attainment .clients {
    width: 25%;
    padding: 20px;
    height: 300px;
    padding-top: 90px; }
    .attainment .clients .icon {
      display: flex;
      justify-content: center;
      margin-bottom: 20px; }
    .attainment .clients b {
      display: flex;
      justify-content: center;
      font-size: 20px; }
    .attainment .clients p {
      padding-left: 50px;
      padding-right: 50px;
      display: flex;
      justify-content: center;
      font-size: 20px; }
  .attainment .awards {
    width: 25%;
    background-color: #e5cfeb;
    padding: 20px;
    height: 230px;
    padding-top: 90px; }
    .attainment .awards .icon {
      display: flex;
      justify-content: center;
      margin-bottom: 20px; }
    .attainment .awards b {
      display: flex;
      justify-content: center;
      font-size: 20px; }
    .attainment .awards p {
      padding-left: 50px;
      padding-right: 50px;
      display: flex;
      justify-content: center;
      font-size: 20px; }
  .attainment .hours {
    width: 25%;
    padding: 20px;
    height: 300px;
    padding-top: 90px; }
    .attainment .hours .icon {
      display: flex;
      justify-content: center;
      margin-bottom: 20px; }
    .attainment .hours b {
      display: flex;
      justify-content: center;
      font-size: 20px; }
    .attainment .hours p {
      padding-left: 50px;
      padding-right: 50px;
      display: flex;
      justify-content: center;
      font-size: 20px; }
  .attainment .projects {
    width: 25%;
    background-color: #e5cfeb;
    padding: 20px;
    height: 230px;
    padding-top: 90px; }
    .attainment .projects .icon {
      display: flex;
      justify-content: center;
      margin-bottom: 20px; }
    .attainment .projects b {
      display: flex;
      justify-content: center;
      font-size: 20px; }
    .attainment .projects p {
      padding-left: 50px;
      padding-right: 50px;
      display: flex;
      justify-content: center;
      font-size: 20px; }

.process {
  height: 500px; }
  .process .text {
    display: flex;
    justify-content: center;
    font-size: 29px; }
    .process .text p {
      border-bottom: 5px solid #e5cfeb; }
  .process .note {
    font-size: 20px;
    display: flex;
    justify-content: center; }
  .process .spec {
    width: 100%;
    display: flex;
    height: 200px;
    margin-top: 40px; }
    .process .spec .discuss {
      width: 255; }
      .process .spec .discuss .process-step {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 20px;
        background: rgba(255, 255, 255, 0.726);
        color: rgba(0, 0, 0, 0.822);
        border-radius: 50%;
        height: 5px;
        width: 5px;
        line-height: 5px;
        padding: 1rem;
        transition: all 1s; }
      .process .spec .discuss .process-icon {
        border-radius: 50%;
        background: #e5cfeb;
        color: #fff;
        padding: 2rem;
        width: 70px;
        height: 70px;
        line-height: 40px;
        text-align: center;
        position: relative;
        transition: all 1s; }
        .process .spec .discuss .process-icon:hover {
          background: rgba(0, 0, 0, 0.253);
          width: 90px;
          height: 90px;
          line-height: 90px; }
          .process .spec .discuss .process-icon:hover .process-step {
            background-color: black;
            color: #fff; }
      .process .spec .discuss .icon {
        display: flex;
        justify-content: center;
        margin-bottom: 20px; }
      .process .spec .discuss b {
        display: flex;
        justify-content: center;
        font-size: 20px; }
      .process .spec .discuss p {
        padding-left: 50px;
        padding-right: 50px;
        display: flex;
        justify-content: center;
        font-size: 20px; }
    .process .spec .concept {
      width: 255; }
      .process .spec .concept .process-step {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 20px;
        background: rgba(255, 255, 255, 0.726);
        color: rgba(0, 0, 0, 0.822);
        border-radius: 50%;
        height: 5px;
        width: 5px;
        line-height: 5px;
        padding: 1rem;
        transition: all 1s; }
      .process .spec .concept .process-icon {
        border-radius: 50%;
        background: #e5cfeb;
        color: #fff;
        padding: 2rem;
        width: 70px;
        height: 70px;
        line-height: 40px;
        text-align: center;
        position: relative;
        transition: all 1s; }
        .process .spec .concept .process-icon:hover {
          background: rgba(0, 0, 0, 0.253);
          width: 90px;
          height: 90px;
          line-height: 90px; }
          .process .spec .concept .process-icon:hover .process-step {
            background-color: black;
            color: #fff; }
      .process .spec .concept .icon {
        display: flex;
        justify-content: center;
        margin-bottom: 20px; }
      .process .spec .concept b {
        display: flex;
        justify-content: center;
        font-size: 20px; }
      .process .spec .concept p {
        padding-left: 50px;
        padding-right: 50px;
        display: flex;
        justify-content: center;
        font-size: 20px; }
    .process .spec .ux {
      width: 255; }
      .process .spec .ux .process-step {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 20px;
        background: rgba(255, 255, 255, 0.726);
        color: rgba(0, 0, 0, 0.822);
        border-radius: 50%;
        height: 5px;
        width: 5px;
        line-height: 5px;
        padding: 1rem;
        transition: all 1s; }
      .process .spec .ux .process-icon {
        border-radius: 50%;
        background: #e5cfeb;
        color: #fff;
        padding: 2rem;
        width: 70px;
        height: 70px;
        line-height: 40px;
        text-align: center;
        position: relative;
        transition: all 1s; }
        .process .spec .ux .process-icon:hover {
          background: rgba(0, 0, 0, 0.253);
          width: 90px;
          height: 90px;
          line-height: 90px; }
          .process .spec .ux .process-icon:hover .process-step {
            background-color: black;
            color: #fff; }
      .process .spec .ux .icon {
        display: flex;
        justify-content: center;
        margin-bottom: 20px; }
      .process .spec .ux b {
        display: flex;
        justify-content: center;
        font-size: 20px; }
      .process .spec .ux p {
        padding-left: 50px;
        padding-right: 50px;
        display: flex;
        justify-content: center;
        font-size: 20px; }
    .process .spec .interaction {
      width: 255; }
      .process .spec .interaction .process-step {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 20px;
        background: rgba(255, 255, 255, 0.726);
        color: rgba(0, 0, 0, 0.822);
        border-radius: 50%;
        height: 5px;
        width: 5px;
        line-height: 5px;
        padding: 1rem;
        transition: all 1s; }
      .process .spec .interaction .process-icon {
        border-radius: 50%;
        background: #e5cfeb;
        color: #fff;
        padding: 2rem;
        width: 70px;
        height: 70px;
        line-height: 40px;
        text-align: center;
        position: relative;
        transition: all 1s; }
        .process .spec .interaction .process-icon:hover {
          background: rgba(0, 0, 0, 0.253);
          width: 90px;
          height: 90px;
          line-height: 90px; }
          .process .spec .interaction .process-icon:hover .process-step {
            background-color: black;
            color: #fff; }
      .process .spec .interaction .icon {
        display: flex;
        justify-content: center;
        margin-bottom: 20px; }
      .process .spec .interaction b {
        display: flex;
        justify-content: center;
        font-size: 20px; }
      .process .spec .interaction p {
        padding-left: 50px;
        padding-right: 50px;
        display: flex;
        justify-content: center;
        font-size: 20px; }

.work {
  height: 1000px;
  width: 100%;
  background-color: white; }
  .work .text {
    display: flex;
    justify-content: center;
    font-size: 29px; }
    .work .text p {
      border-bottom: 5px solid #e5cfeb; }
  .work .note {
    font-size: 20px;
    display: flex;
    justify-content: center; }
  .work .works .first {
    width: 100%;
    height: 50%;
    display: flex; }
    .work .works .first .ph1 {
      width: 33%;
      height: 50%; }
      .work .works .first .ph1 img {
        width: 700px;
        height: 400px; }
        .work .works .first .ph1 img:hover {
          box-shadow: 0px 15px 15px -15px rgba(0, 0, 0, 0.7);
          z-index: 3;
          width: 705px;
          height: 405px;
          transition: all 0.5s; }
    .work .works .first .ph2 {
      width: 33%;
      height: 50%; }
      .work .works .first .ph2 img {
        width: 700px;
        height: 400px; }
        .work .works .first .ph2 img:hover {
          box-shadow: 0px 15px 15px -15px rgba(0, 0, 0, 0.7);
          z-index: 2;
          width: 705px;
          height: 405px;
          transition: all 0.5s; }
    .work .works .first .ph3 {
      width: 33%;
      height: 50%; }
      .work .works .first .ph3 img {
        width: 700px;
        height: 400px; }
        .work .works .first .ph3 img:hover {
          box-shadow: 0px 15px 15px -15px rgba(0, 0, 0, 0.7);
          z-index: 2;
          width: 705px;
          height: 405px;
          transition: all 0.5s; }
  .work .works .two {
    display: flex;
    height: 50%;
    width: 100%; }
    .work .works .two .ph4 {
      width: 33%;
      height: 50%; }
      .work .works .two .ph4 img {
        width: 700px;
        height: 400px; }
        .work .works .two .ph4 img:hover {
          box-shadow: 0px 15px 15px -15px rgba(0, 0, 0, 0.7);
          z-index: 2;
          width: 705px;
          height: 405px;
          transition: all 0.5s; }
    .work .works .two .ph5 {
      width: 33%;
      height: 50%; }
      .work .works .two .ph5 img {
        width: 700px;
        height: 400px; }
        .work .works .two .ph5 img:hover {
          box-shadow: 0px 15px 15px -15px rgba(0, 0, 0, 0.7);
          z-index: 2;
          width: 705px;
          height: 405px;
          transition: all 0.5s; }
    .work .works .two .ph6 {
      width: 33%;
      height: 50%; }
      .work .works .two .ph6 img {
        width: 700px;
        height: 400px; }
        .work .works .two .ph6 img:hover {
          box-shadow: 0px 15px 15px -15px rgba(0, 0, 0, 0.7);
          z-index: 2;
          width: 705px;
          height: 405px;
          transition: all 0.5s; }

footer {
  height: 10vh;
  background-color: #e5cfeb;
  width: 100%; }
  footer p {
    color: black;
    display: flex;
    justify-content: flex-start;
    padding: 40px;
    font-size: 20px;
    width: 50%; }

.contact {
  height: 85vh;
  background-color: white;
  width: 100%; }
  .contact .text {
    display: flex;
    justify-content: center;
    font-size: 29px; }
    .contact .text p {
      border-bottom: 5px solid #e5cfeb; }
  .contact .note {
    display: flex;
    justify-content: center;
    font-size: 20px; }
  .contact form {
    margin-left: 40px;
    margin-right: 40px;
    width: 100%; }
    .contact form .info {
      display: flex; }
    .contact form .numb {
      display: flex; }

.cont-info {
  padding: 40px;
  width: 100%;
  height: 150px;
  background-color: #e5cfeb;
  display: flex; }
  .cont-info .mail {
    width: 33%; }
    .cont-info .mail .icon {
      display: flex;
      justify-content: center;
      padding: 10px; }
    .cont-info .mail b {
      display: flex;
      justify-content: center; }
    .cont-info .mail p {
      display: flex;
      justify-content: center; }
  .cont-info .phone {
    width: 33%; }
    .cont-info .phone .icon {
      display: flex;
      justify-content: center;
      padding: 10px; }
    .cont-info .phone b {
      display: flex;
      justify-content: center; }
    .cont-info .phone p {
      display: flex;
      justify-content: center; }
  .cont-info .address {
    width: 33%; }
    .cont-info .address .icon {
      display: flex;
      justify-content: center;
      padding: 10px; }
    .cont-info .address b {
      display: flex;
      justify-content: center; }
    .cont-info .address p {
      display: flex;
      justify-content: center; }

.motive {
  display: flex;
  justify-content: center;
  height: 100px;
  padding: 70px; }

.aboutt {
  height: 900px;
  background-color: white; }
  .aboutt .text {
    display: flex;
    justify-content: center;
    font-size: 29px; }
    .aboutt .text p {
      border-bottom: 5px solid #e5cfeb; }
  .aboutt .note {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 40px; }
  .aboutt .about {
    width: 100%;
    display: flex; }
    .aboutt .about .phhoto {
      width: 40%; }
    .aboutt .about .ttext {
      background-color: rgba(0, 0, 0, 0.055);
      border-left: 5px solid #e5cfeb;
      padding: 40px;
      width: 60%; }
      .aboutt .about .ttext b {
        display: flex;
        justify-content: center;
        font-size: 23px; }
      .aboutt .about .ttext p {
        display: flex;
        justify-content: center;
        font-size: 20px; }
  .aboutt .awwards {
    width: 100%;
    display: flex;
    margin-top: 70px; }
    .aboutt .awwards .award-one {
      width: 33%; }
      .aboutt .awwards .award-one .icon {
        display: flex;
        justify-content: center;
        padding: 10px; }
      .aboutt .awwards .award-one b {
        display: flex;
        justify-content: center; }
      .aboutt .awwards .award-one p {
        display: flex;
        justify-content: center; }
    .aboutt .awwards .award-two {
      width: 33%; }
      .aboutt .awwards .award-two .icon {
        display: flex;
        justify-content: center;
        padding: 10px; }
      .aboutt .awwards .award-two b {
        display: flex;
        justify-content: center; }
      .aboutt .awwards .award-two p {
        display: flex;
        justify-content: center; }
    .aboutt .awwards .award-three {
      width: 33%; }
      .aboutt .awwards .award-three .icon {
        display: flex;
        justify-content: center;
        padding: 10px; }
      .aboutt .awwards .award-three b {
        display: flex;
        justify-content: center; }
      .aboutt .awwards .award-three p {
        display: flex;
        justify-content: center; }

.container {
  padding-bottom: 40px; }
  .container .text {
    display: flex;
    justify-content: center;
    font-size: 29px; }
    .container .text p {
      border-bottom: 5px solid #e5cfeb; }

.logo {
  display: flex;
  margin-top: 40px;
  width: 100%;
  margin-bottom: 80px; }
  .logo .first-logo {
    width: 25%;
    justify-content: center;
    display: flex; }
  .logo .second-logo {
    width: 25%;
    justify-content: center;
    display: flex; }
  .logo .third-logo {
    width: 25%;
    justify-content: center;
    display: flex; }
  .logo .fourth-logo {
    width: 25%;
    justify-content: center;
    display: flex; }

.testimonials {
  height: 500px; }
  .testimonials .text {
    display: flex;
    justify-content: center;
    font-size: 29px; }
    .testimonials .text p {
      border-bottom: 5px solid #e5cfeb; }
  .testimonials .note {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 40px; }
  .testimonials .reviews {
    width: 100%;
    display: flex;
    padding: 20px; }
    .testimonials .reviews .firstt {
      width: 25%;
      margin: 10px; }
      .testimonials .reviews .firstt p {
        font-size: 20px;
        border: 1px solid black;
        padding: 10px; }
      .testimonials .reviews .firstt .person-1 {
        display: flex; }
        .testimonials .reviews .firstt .person-1 .pers1 {
          height: 80px;
          border-radius: 50%; }
        .testimonials .reviews .firstt .person-1 h5 {
          padding-top: 30px;
          padding-left: 10px; }
    .testimonials .reviews .secondd {
      width: 25%;
      margin: 10px; }
      .testimonials .reviews .secondd p {
        font-size: 20px;
        border: 1px solid black;
        padding: 10px; }
      .testimonials .reviews .secondd .person-2 {
        display: flex; }
        .testimonials .reviews .secondd .person-2 .pers2 {
          height: 80px;
          border-radius: 50%; }
        .testimonials .reviews .secondd .person-2 h5 {
          padding-top: 30px;
          padding-left: 10px; }
    .testimonials .reviews .thirdd {
      width: 25%;
      margin: 10px; }
      .testimonials .reviews .thirdd p {
        font-size: 20px;
        border: 1px solid black;
        padding: 10px; }
      .testimonials .reviews .thirdd .person-3 {
        display: flex; }
        .testimonials .reviews .thirdd .person-3 .pers3 {
          height: 80px;
          border-radius: 50%; }
        .testimonials .reviews .thirdd .person-3 h5 {
          padding-top: 30px;
          padding-left: 10px; }
    .testimonials .reviews .fourthh {
      width: 25%;
      margin: 10px; }
      .testimonials .reviews .fourthh p {
        font-size: 20px;
        border: 1px solid black;
        padding: 10px; }
      .testimonials .reviews .fourthh .person-4 {
        display: flex; }
        .testimonials .reviews .fourthh .person-4 .pers4 {
          height: 80px;
          border-radius: 50%; }
        .testimonials .reviews .fourthh .person-4 h5 {
          padding-top: 30px;
          padding-left: 10px; }

@media (max-width: 500px) {
  .nav-menu {
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    justify-content: center; }
  a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    padding: 10px; }
  .name {
    text-align: center;
    justify-content: center;
    color: white;
    padding: 200px; }
    .name .iam {
      font-size: 20px; }
    .name .what {
      font-size: 15px; }
    .name .button-style .button {
      padding: 15px 50px;
      border-color: white; }
  .specialize {
    height: 1539px; }
    .specialize .text {
      display: flex;
      justify-content: center;
      font-size: 29px; }
      .specialize .text p {
        border-bottom: 5px solid #e5cfeb; }
    .specialize .note {
      display: flex;
      justify-content: center;
      font-size: 20px;
      margin-bottom: 40px; }
    .specialize .forms {
      width: 100%; }
      .specialize .forms .concepting {
        width: 100%;
        background-color: #e5cfeb;
        padding: 5px;
        height: 300px; }
        .specialize .forms .concepting .icon {
          display: flex;
          justify-content: center;
          margin-bottom: 20px; }
        .specialize .forms .concepting b {
          display: flex;
          justify-content: center;
          font-size: 20px; }
        .specialize .forms .concepting p {
          padding-left: 50px;
          padding-right: 50px;
          display: flex;
          justify-content: center;
          font-size: 20px; }
      .specialize .forms .uiux {
        width: 25%;
        padding: 20px;
        height: 300px; }
        .specialize .forms .uiux .icon {
          display: flex;
          justify-content: center;
          margin-bottom: 20px; }
        .specialize .forms .uiux b {
          display: flex;
          justify-content: center;
          font-size: 20px; }
        .specialize .forms .uiux p {
          padding-left: 50px;
          padding-right: 50px;
          display: flex;
          justify-content: center;
          font-size: 20px; }
      .specialize .forms .visual-design {
        width: 25%;
        background-color: #e5cfeb;
        padding: 20px;
        height: 300px; }
        .specialize .forms .visual-design .icon {
          display: flex;
          justify-content: center;
          margin-bottom: 20px; }
        .specialize .forms .visual-design b {
          display: flex;
          justify-content: center;
          font-size: 20px; }
        .specialize .forms .visual-design p {
          padding-left: 50px;
          padding-right: 50px;
          display: flex;
          justify-content: center;
          font-size: 20px; }
      .specialize .forms .interaction {
        width: 25%;
        padding: 20px;
        height: 300px; }
        .specialize .forms .interaction .icon {
          display: flex;
          justify-content: center;
          margin-bottom: 20px; }
        .specialize .forms .interaction b {
          display: flex;
          justify-content: center;
          font-size: 20px; }
        .specialize .forms .interaction p {
          padding-left: 50px;
          padding-right: 50px;
          display: flex;
          justify-content: center;
          font-size: 20px; } }

@media(max-width:375px) {
    .main {
        .main header {
            width: 100%;
            height: 18vh;
            .main header .navigation {
                display: block;
                .main header .navigation .logo {
                    margin: 20px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                }

                .main header .navigation .nav-menu {
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
    a{
        font-size: 13px;
        padding: 13px;
    }
    .name{
        width: 100%;
        padding-left: 8px;
        padding-top: 150px;
        .name .iam{
            font-size: 19px;
            
        }
        .name .what{
            font-size: 20px;
        }
    }
    .specialize{
        height: 1600px;
        .specialize .note{
            padding: 10px;
            justify-content: center;
            display: flex;
            padding-left: 20px;
            padding-right: 20px;
        }
        .specialize .forms{
            display: block;
            .specialize .forms .concepting{
                width: 100%;
                 .specialize .forms .concepting .icon{
                    margin-bottom: 20px;
                }
                 .specialize .forms .concepting b{
                    font-size: 25px;
                }
                .specialize .forms .concepting p{
                    padding-left: 20px;
                    padding-right: 20px;
                    font-size: 20px;
                }
            }
            .specialize .forms .uiux {
                width: 100%;
                .icon{
                    margin-bottom: 20px;
                }
               .specialize .forms .uiux  b{
                    font-size: 25px;
                }
               .specialize .forms .uiux  p{
                    padding-left: 20px;
                    padding-right: 20px;
                    font-size: 20px;
                }
            }
           .specialize .forms  .visual-design{
                width: 100%;
                .icon{
                    margin-bottom: 20px;
                }
                .specialize .forms  .visual-design b{
                    font-size: 25px;
                }
               .specialize .forms  .visual-design  p{
                    padding-left: 20px;
                    padding-right: 20px;
                    font-size: 20px;
                }
            }
            .specialize .forms  .interaction {
                width: 100%;
                .specialize .forms  .interaction .icon{
                    margin-bottom: 20px;
                }
               .specialize .forms  .interaction  b{
                    font-size: 25px;
                }
               .specialize .forms  .interaction  p{
                    padding-left: 20px;
                    padding-right: 20px;
                    font-size: 20px;
                }
            }
        }
    }
    .attainment{
        display: block;
        height: 1600px;
       .attainment .clients{
            width: 100%;
        }
      .attainment  .awards{
            width: 100%;
        }
      .attainment  .hours {
            width: 100%;
        }
       .attainment .projects {
            width: 100%;
        }
    }
    .process{
        height: 1600px;
        .process .note{
            padding: 10px;
            justify-content: center;
            display: flex;
            padding-left: 20px;
            padding-right: 20px;
        }
       .process .spec{
            display: block;
        }

    }
    footer{
       footer p{
            padding: 10px;
            font-size: 15px;
        }
    }

    .contact{
        height: 89vh;
       .contact form{
            margin-left: 10px;
            margin-right: 10px;
            width: 100%; 
           .contact form .info{
                display: block;
            }
           .contact form .numb{
                display: block;
            }
        }
       .contact button{
            margin-left: 10px; 
        }
    }
    .cont-info{
        height: 500px;
        display: block;
        padding: 120px;
    }
    .motive{
        padding: 120px;
        height: 390px;
    }
    .aboutt{
        height: 1600px;
        .aboutt .text{
           .aboutt .text p{
                padding: 20px;
            }
        }
        .aboutt .note{
            padding: 10px;
            justify-content: center;
            display: flex;
            padding-left: 20px;
            padding-right: 20px;
        }
       .aboutt .about{
            display: block;
             .aboutt .about .ttext{
                width: 100%;
            }
        }
    }
    .awwards{
        margin: 10px;
       .awwards .award-one{
            width: 30%;
           .awwards .award-one b{
                font-size: 15px;
            }
           .awwards .award-one p{
                font-size: 15px;
            }
        }
       .awwards .award-two{
            width: 30%;
          .awwards .award-two  b{
                font-size: 15px;
            }
           .awwards .award-two p{
                font-size: 15px;
            }
        }
       .awwards  .award-three{
            width: 30%;
            .awwards  .award-three b{
                font-size: 15px;
            }
            .awwards  .award-three p{
                font-size: 15px;
            }
        }
    }
    .logo{
        display: block;
        margin: 140px;
    }
    .testimonials{
        height: 1600px;
       .testimonials .reviews{
            display: block;
            .testimonials .reviews .firstt{
                width: 100%;
            }
           .testimonials .reviews .secondd{
                width: 100%;
            }
           .testimonials .reviews .thirdd{
                width: 100%;
            }
           .testimonials .reviews .fourthh{
                width: 100%;
            }
        }
    }
    .works{
         .works .first{
            width: 100%;
            height: 50%;
            display: block;
        }
        .works .two {
            display: block;
        }
    }
}
